.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    &-inner{
        display: flex;
        height: 100px;
        .logo{
            display: flex;
            margin: auto 0;
        }
    }
    &-center{
        display: flex;
        justify-content: flex-end;
        height: 100%;
        margin-left: 63px;
        .navbar{
            margin-top: 4px;
            width: 100%;
            display: flex;
            align-items: center;
            height: 100%;
            .navbar-item{
                
                width: 100%;
                text-align: center;
                justify-content: center;
                padding: 26px;

                a{
                    
                    line-height: 90px;
                    color: white;
                    &:hover{
                        transform: scale(1.3);
                        color: red;
                    }
                }
            }
        }
    }
    &-right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 4px;
        .header-item{
            margin-left: 21px;
            i {
                color: #fff;
                line-height: 90px;
                &:hover{
                    color: red;
                }
            }
        }
        .cart::before {
            content: "|";
            padding-right: 26px;
            opacity: 0.6;
            color: $mainColor;
          }
          .user::before {
            content: "|";
            padding-right: 26px;
            opacity: 0.6;
            color: $mainColor;
          }
    }
    &-mb{
        display: flex;
        align-items: center;
        display: none;
        
        i{
            color: #fff;
            font-size: 2.5rem;
            margin-top: 35px;
            margin-left: 40px;
        }
    }
    .nav-input:checked ~ .navbar-overlay{
        display: block;
    }
   
    .navbar-overlay{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
    }
    .nav-input:checked ~ .navbar-mb{
        transform: translateX(0%);
    }
    .navbar-mb{
        text-align: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 440px;
        max-width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        transform: translateX(100%);
        &-list{
            margin-top: 150px;
            .navbar-link{
                font-size: 2.2rem;
                color: #fff;
                display: block;
                padding: 16px 0;
                border-bottom:1px solid #666;
                a{
                    color: #fff;
                }
            }

        }

    }
}

